<div class="container">
  <div class="header">
    <h2> {{ fileName ? fileName : 'Collection de données' }} </h2>
    <input type="file" multiple accept='xlsx' (change)="onFileChange($event)" />
  </div>

  <div>
    <hr>
  </div>

  <div class="filter">
    <mat-accordion>

      <mat-expansion-panel hideToggle>

        <mat-expansion-panel-header>
          <mat-panel-title> Type de colonne </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container *ngFor="let col of columnDefs">
          <mat-form-field *ngIf="col?.headerName">
            <mat-label>{{ col?.headerName }}</mat-label>
            <mat-select (selectionChange)="updateFilter()" [(ngModel)]="col.filter" name="food">
              @for (filter of agGriFilter; track filter) {
              <mat-option [value]="filter.value">{{filter.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </ng-container>

      </mat-expansion-panel>

    </mat-accordion>

    <mat-accordion>

      <mat-expansion-panel hideToggle>

        <mat-expansion-panel-header>
          <mat-panel-title> Fitre de colonne </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" multiple>
          <mat-button-toggle *ngFor="let col of columnDefs" (change)="onToggleColumns($event)" [checked]="!col.hide"
            [value]="col.field">
            {{ col.headerName ? col.headerName : col.field }}
          </mat-button-toggle>
        </mat-button-toggle-group>

      </mat-expansion-panel>

    </mat-accordion>

    <mat-accordion>

      <mat-expansion-panel hideToggle>

        <mat-expansion-panel-header>
          <mat-panel-title> Appliquer une catégorie </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>

          <mat-form-field *ngIf="categories.length > 0">
            <mat-label> Catégories </mat-label>
            <mat-select [(ngModel)]="selectedtCategory" name="food">
              @for (category of categories; track category) {
              <mat-option [value]="category">{{category}}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <button mat-flat-button (click)="applyCategoryToCell()"> Appliquer </button>

      </mat-expansion-panel>

    </mat-accordion>
  </div>

  <div class="grid">
    <ag-grid-angular style="width: 100%; height: 100%;" 
      [grandTotalRow]="grandTotalRow" 
      [class]="themeClass"
      [rowData]="rowData" 
      [rowSelection]="rowSelection" 
      [suppressRowClickSelection]="true" 
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef" 
      [columnMenu]="columnMenu" 
      [sideBar]="sideBar" 
      [enableCharts]="enableCharts"
      [enableRangeSelection]="enableRangeSelection" 
      [dataTypeDefinitions]="dataTypeDefinitions"
      [allowDragFromColumnsToolPanel]="true"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>

  <div class="footer">
    <button [disabled]="loadingSave" mat-flat-button (click)="save()"> 
      <!-- <mat-spinner *ngIf="loadingSave"></mat-spinner> -->
      <!-- <span *ngIf="!loadingSave"> Save </span> -->
       Save
    </button>
  </div>
</div>